:root {
  --bg-primary: #f4f5fb;
  --bg-secondary: #ffffff;

  --brand: #ca3884;
  --brand-hover: #a52c6b;
  --danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --ff: "Inter", serif;
}

body {
  background-color: var(--bg-primary);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 80rem;
  width: 100%;
  padding: 1.5rem 2rem;
  margin-inline: auto;

  font: 700 1.5rem/125% var(--ff);
  color: var(--content-secondary);

  img {
    width: 3rem;
  }
}

main {
  max-width: 80rem;
  width: 100%;
  padding: 1.5rem 2rem;
  margin-inline: auto;

  div:nth-child(1) {
    a {
      display: flex;
      gap: 0.2rem;

      color: var(--brand);
      font: 500 1rem/100% var(--ff);
      text-decoration: none;

      img {
        width: 1rem;
      }
    }

    h2 {
      font: 700 2.5rem/125% var(--ff);
      color: var(--content-primary);
    }
  }
}

.add-itens {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;

  input {
    flex: 1;
    border-radius: 15px;
    border: 2px solid var(--border-primary);
    background-color: var(--bg-secondary);
    padding: 1rem;
    color: var(--content-secondary);
    font: 500 1rem/125% var(--ff);
  }

  input:focus {
    outline: 0;
    border: 2px solid var(--border-hover);
  }

  .button {
    height: 56px;
    background-color: var(--brand);
    border-radius: 15px;
    border: none;
    color: var(--bg-secondary);
    font: 700 1rem/125% var(--ff);

    padding: 0 1rem;
    transition: background-color 0.2s;
  }

  .button:hover {
    background-color: var(--brand-hover);
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin-top: 4rem;

  li {
    display: flex;
    justify-content: space-between;

    flex: 1;
    border-radius: 15px;
    padding: 1rem;

    background-color: var(--bg-secondary);
    color: var(--content-secondary);
    font: 500 1.3rem/125% var(--ff);
    list-style-type: none;

    input {
      width: 1.5rem;
    }
  }
}

.item-removed {
  display: none;
  background-color: var(--danger);
  padding: 10px;
  border-radius: 15px;
  color: var(--bg-secondary);
  font: 600 1.3rem/125% var(--ff);
  position: relative;
  margin-top: 4rem;
}

.item-removed.show {
  display: block;
}

.item-removed .close {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 478px) {
  main {
    overflow-x: hidden;
  }
  .add-itens {
    gap: 10px;

    input {
      padding: 0 0.3rem;
    }

    .button {
      padding: 0 0.5rem;
    }
  }
}
